@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --button-height: 52px;
}

@media (min-width: 640px) {
  :root {
    --button-height: 48px;
  }
}

/* Uniform style for buttons and inputs */
#kc-form-login button,
#kc-login,
#kc-form-login input[type="text"],
#kc-form-login input[type="password"] {
    height: var(--button-height) !important;
    min-height: var(--button-height) !important;
    display: inline-flex !important;
    align-items: center !important;
}

body {
    margin: 0;
}
